.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container{
    display: flex;
    align-items:center;
  }
  .main{
    height: 500px;
    width: 500px;
  }
  .box{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: rgb(10, 133, 47);
    border: 2px solid black;
  }
  .yAxis{
    height: 500px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(141, 187, 230);
    cursor: pointer;
    border: none;
    font-size:25px;
  }
  .xAxis{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 187, 230);
    width: 500px;
    height: 60px;
    cursor: pointer;
    border: none;
    font-size:25px;
  }